# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:3001/api

# MongoDB Configuration
MONGODB_URI=mongodb+srv://MealClan:iis4you123%40@mealclan.tg8wzhl.mongodb.net/?appName=MealClan

# Socket.io Server URL
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
